[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=46469771", :title "Global software engineering job postings outlook – 2026", :link "https://jobswithgpt.com/blog/global_software-engineering_jobs_january_2026/", :published-at #inst "2026-01-02T21:44:41.000-00:00", :content "\n<p>Article URL: <a href=\"https://jobswithgpt.com/blog/global_software-engineering_jobs_january_2026/\">https://jobswithgpt.com/blog/global_software-engineering_jobs_january_2026/</a></p>\n<p>Comments URL: <a href=\"https://news.ycombinator.com/item?id=46469771\">https://news.ycombinator.com/item?id=46469771</a></p>\n<p>Points: 38</p>\n<p># Comments: 13</p>\n"}, :excerpts [{:text "\n<p>Article URL: <a...", :matched-terms ["gpt"], :source :content} {:text "...e-engineering_jobs_january_2026/\">https://jobswithgpt.com/blog/global_software-engineering_jobs_january...", :matched-terms ["gpt"], :source :content}]}]